@media only screen and (max-width:480px){
    .nav-container{
        height: 80px;
         justify-content: space-evenly;
    }
    .logo-sec {
        width: 25%;
    }
    .logo-sec img{
        height: 32%;
    }
    .searchbar-sec{
        padding: 1.7rem 1.2rem 0rem 0rem;
        width: 35%;
    }
    .searchbar-sec input{
        height: 0.5rem;
        padding: 0.8rem;
        font-size: 12px;
    }
    .serch-item span{
  font-size: 17px;
  
}
.search-items{
    width:100%;
}
.serch-item p{
  font-size: 15px;
  color: #808080;
}
.search-items p{
  font-size: 11.8px;
}
    .nav-sec {
    display: none;
  } 
  .mobile-menu-icon {
      display: block;
      color: white;
      margin-left: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      
  }
  .mobile-menu-icon i{
    font-size: 22px;
  }
  .toggle-slide{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0%;
     z-index: 10005;
     background: rgba(0, 0, 0, 0.6);
  }
  .slide-sec{
    top:0%;
    right:0%;
    position: fixed;
    width: 190px;
   
   
    height: 100vh;
    background-color: #d92827;
  }
  .profile-sec{
    margin-top: 1rem;
    padding: 2.5rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f7f7f7;
  }
  .slide-items{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f7f7f7;
  }
  .slide-items a{
    font-size: 19px;
    color: #fff;
    text-decoration: none;
  }
  .slide-items p{
    font-size: 19px;
    color: #fff;
  }
  .profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .profile-img i{
    font-size: 22px;
  }
  .profile-name{
    display: flex;
    flex-direction: column;
  }
  .profile-name p{
    color: #f7f7f7;
    font-size: 19px;

  }
  .profile-login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .profile-login p{
    font-size: 25px;
    color: #f7f7f7;
  }
  .profile-login button{
    height: 43px;
    margin-top: 2rem;
    width: 85px;
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    border: none;
  }
  #cart-p{
    text-align: center;
    font-size: 18px;
    margin-top: 0.8rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #333;
  }
  .logout-sec{
    display: none;
  }
  .login-sec{
  background-color: #d92827;
  padding-bottom: 0.8rem;
  display: none;
  }
  .login-sec i{
    font-size: 25px;
    
    color: #fff;
  }
  .username-sec {
  right: 5px;
  top: 65px;
  width: auto;
  text-align: center;
  padding: 0.7rem 1rem 0.7rem 1rem;
  padding: 10px 15px;
 
  margin-right: 10px;
}

.username-sec span {

  font-size: 15px;

  font-weight: 550;
}
  .confirm-modal{
     height: 100vh;
    z-index: 20001;
  width: 101vw;
  align-items: start;
  padding-top: 17rem;
   backdrop-filter: blur(10px);
 
  }
  .confirm-content{
    height: auto;
    width: auto;
    
    
  }
   .confirm-content p{
    font-size: 16px;
   }
   .btns{
    padding-top: 0.8rem;
    height: 20%;
   }
   .btns button{
    font-size: 15px;
    margin-right: 1rem;
   }
}