.footer-sec{
    height: 60vh;
    border:1px solid #c4bebe9c;
}
.footer{
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid #c4bebe9c ;
}
.sec1 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.sec1 ul li {
    list-style: none;
    cursor: pointer;
}
.sec1 ul li a{
    text-decoration: none;
    color: #000000;
}
.sec1 ul li:hover{
    font-weight: 550;
}
.sec1 ul li span{
    color: #198EBC;
}
.platform-sec{
    height: 50%;
 
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.platform{
    height: 20%;
    width: 12%;
    padding: 8px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.platform i{
    font-size: 13px;
    color: #ffffff;
}
.copy-rightsec{
    height: 40%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8rem 0px 5rem ;
}

.copy-rightsec img{
    height: 40%;
    filter: drop-shadow(0px 100px 0px #d92827); /* Creates a green shadow far below */
    transform: translateY(-100px);
}
.copy-rightsec p{
    font-size: 14px;
}