@media screen and (max-width: 480px) {
  .Home-section{
    height: auto;
}
  .courusel-view {
    width: 100%;
    height: 55vh;
  }
  .home-image {
    width: 45%;
  }
  .home-image img {
    object-fit: contain;
  }
  .head-sec {
    width: 115%;
    /* text-align: start; */
    margin-top: 6.5rem;
  }
  .head-sec p {
    font-size: 17px;
  }
  .home-image1 {
    width: 45%;
  }
  .home-image1 img {
    object-fit: contain;
  }
  .head-item {
    margin-top: 4.8rem;
    margin-left: -5rem;
    gap: 0px;
    /* flex-direction: column; */
    justify-content: space-around;
  }
  .head-item img {
    height: 75%;
    z-index: 1001;
    width: 70%;
    cursor: pointer;
  }

  .food-opt{
     padding: 1rem 0rem 5rem 0rem;
    margin-top: 3rem;
    margin-left: 1.7rem;
    height: auto;
  }
  .product-sect{
    height: auto;
   
}
 .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  .products img {
    width: 100%;
    height:95%;
  }
  .scanner-sec {
    margin-top: 1rem;
    height: 28vh;
    width: 100%;
    
}
  .scanner-sec img{
    height: 100%;
    width: 55%;
    object-fit: contain;
    margin-top: 1.5rem;
    
}
.scanner-sec p{
    font-size: 14px;
    margin-left: 1.1rem;
}
}
