@media only screen and (max-width: 480px) {
  .Cart-sec {
    height: 65vh;
    width: 77%;
    left: 3%;
    top: 15%;
    
  }
  .cart-area p {
    font-size: 25px;
  }
  .cart-area i {
    font-size: 25px;
  }
  .cart-items {
    height: 39vh;
   overflow: auto;
}
.cart-items table thead tr td{
    font-size: 11px;
    font-weight: 550;
    padding-bottom: 1rem;
   
}
.cart-items table td:nth-child(1){
    width: 10%;
    font-size: 10px;
    
}

.cart-items table td:nth-child(2){
    width: 33%;
}
.cart-items table tbody tr td img{

    height: 55px;
    width: 55px;
}
.cart-items table tbody tr td i{
    cursor: pointer;
}
.cart-items table td:nth-child(3){
    width: 35%;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.cart-items table td:nth-child(4) {
    width: 25%;
    font-size: 14px;
    font-weight: 550;
}
.cart-items table td:nth-child(6){
    width: 10%;
    font-size: 14px;
    font-weight: 550;
}
.cart-items table td:nth-child(5){ 
    width: 32%;
    font-size: 13px;
    font-weight: 550;
}
.quantity-sec{
    
    width: 100%;
    height: 2.5vh;
    align-items: center;
    
}
.quantity-sec p{
    font-size: 12px;
    font-weight: 550;
}
.quantity-sec button{
    width: 35%;
    
    font-size: 16px;
    color: #000;
}
.subtot-sec {
    height: 4rem;
}

.total-sec{
   
    gap: 6px;
    padding: 0.4rem 0.6rem 0.2rem 0.6rem;
}
.total-sec span{
    font-size:15px;
    font-weight: 650;
}
.total-sec p{
    font-size: 15px;
    margin-top: 0rem;
}
.proced-btn{
    height: 100%;
    width: 43%;
    margin-top: 0rem;
    flex-direction: column;
}
.proced-btn button{
    font-size: 11px;
    padding: 0.8rem;
    margin-top: 1rem;
    width: 93%;
}

.delivery-se{
    gap: 10px;
    padding: 0rem 0.6rem 0.2rem;
    align-items: center;
}
.delivery-se span{
    font-size: 13px;
}
.delivery-se p{
    font-size: 13px;
}
.discount-sec {
    gap: 8px;
    padding: 0rem 0.6rem 0.3rem;
    border-bottom: 1px solid #d92827;
}
.discount-sec span{
    font-size: 13px;
}
.discount-sec p{
    font-size: 13px;
}
.sub-totalse {
    display: flex;
    gap: 8px;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}
.sub-totalse span{
   font-size: 16px;
}
.sub-totalse p{
   font-size: 16px;
}
.qrcode-sec {
   
    height: 100%;
    width: 100vw;
    z-index: 20002;
}
.qrcode-items{
    
    padding: 1.5rem;
}
.qrcode-items img{
    height: 300px;
    width: 300px;
   
}
.qrcode-items p{
    font-size: 25px;
}
.qrcode-items i{
  font-size: 2px;
}
.confirm-content i{
    
    top: 25.5%;
    left: 72.8%;
}
.email-sec{
     
    height: 100vh;
    width: 100vw;
    z-index: 2005;
    background: rgba(0, 0, 0, 0.7);
}

.emailbox{
    height: auto;
    width: auto;
    padding: 1.2rem 2rem 2.5rem 1.5rem;
}
.emailbox h2{
      font-size:22px;
    color: #d92827;
}
.emailbox input{
    width: 85%;
    height: auto;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 3rem;
    font-size: 14px;
}

.emailbox button{
    width:80%;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-size: 16px;
}
}
