.Cart-sec{
    height: 68vh;
    width: 68%;
    background-color: #eae9e9;
    z-index:2000;
    position:fixed;
    top: 14%;
    left: 15%;
    border-radius: 13px;
    
    padding: 2rem;  
}

.cart-area {
    display: flex;
    justify-content: space-between;
    z-index: 1001;
    font-weight: 700;
}

.cart-area p{
    font-size: 25px;
}
.cart-area i {
    cursor: pointer;
    font-size: 20px;
}

.cart-items {
    width: 100%;
    height: 57%;
   overflow: auto;
   
    margin-top: 1.5rem;
    padding-bottom: 1.8rem;
}

.cart-items table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
.cart-items table thead tr td{
    font-size: 17px;
    font-weight: 550;
    padding-bottom: 1rem;
   
}
.cart-items table thead td {
    position: sticky;
    top: 0;
   background-color: #eae9e9;
    font-size: 17px;
    font-weight: 550;
    padding-bottom: 1rem;
    z-index: 2;

}
/*  */
.cart-items table tbody tr td{
    padding: 9px;
}

.cart-items table td:nth-child(1){
    width: 9%;
    
}

.cart-items table td:nth-child(2){
    width: 17%;
}
.cart-items table tbody tr td img{
    height: 60px;
    width: 60px;
}
.cart-items table tbody tr td i{
    cursor: pointer;
}
.cart-items table td:nth-child(3){
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.cart-items table td:nth-child(4) , .cart-items table td:nth-child(5){
    width: 15%;
    font-size: 15px;
    font-weight: 550;
}
.cart-items table td:nth-child(5){ 
    width: 16%;
}
.quantity-sec{
    display: flex;
    justify-content: space-between;
    border: 1px solid #808080;
    border-left: none;
    border-right: none;
    width: 90%;
    height: 4h;
}
.quantity-sec p{
    font-size: 14px;
    font-weight: 450;
}
.quantity-sec button{
    width: 30%;
    border: none;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    cursor: pointer;
    font-size: 15px;
}

.subtot-sec{
    height: 25%;
    margin-top: 0.7rem;
   border-top : 2px solid #d92827;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-tot{
    height: 100%;
   
}
.total-sec{
    display: flex;
    gap: 6px;
    padding: 0.2rem;
}
.total-sec span{
    font-size: 17px;
}
.total-sec p{
    font-size: 15px;
    margin-top: 0.1rem;
}
.proced-btn{
    
    height: 40%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.proced-btn button{
    background-color: #d92827;
    border-radius: 8px;
    height: 100%;
    width: 43%;
    color: #eae9e9;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: 850;
}
.delivery-se{
    display: flex;
    gap: 8px;
    padding: 0rem 0.3rem 0.3rem;
    align-items: center;
}
.delivery-se span{
    font-size: 13px;
}
.delivery-se p{
    font-size: 13px;
    color: rgb(23, 101, 23);
    font-weight: 750;
}
.discount-sec {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0rem 0.3rem 0.3rem;
    border-bottom: 1px solid #d92827;
}
.discount-sec span{
    font-size: 13px;
}
.discount-sec p{
    font-size: 13px;
}
.sub-totalse {
    display: flex;
    gap: 8px;
    margin-top: 0.2rem;
}
.sub-totalse span{
    font-weight: 750;
}

.qrcode-sec {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
   
    background: rgba(0, 0, 0, 0.799);
}
.no-scroll{
    overflow: hidden;
}
.qrcode-items{
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.qrcode-items img{
    height: 200px;
    width: 200px;
    margin: 1rem 0;
}

.qrcode-items p{
    margin: 0.5rem 0;
    font-size: 16px;
}
.qrcode-items i{
     position: absolute;
  right: 15px;
  top: 13px;
  font-size: 17px;
  cursor: pointer;
}

.confirm-modal {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.confirm-content {
  background: #fff;
  padding: 1.8rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.confirm-content .btns {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirm-content button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d92827;
  color: white;
}

.confirm-content button:hover {
  background-color: #d91800;
}

.confirm-content input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #808080;
    outline: none;
    padding: 0.5rem;
    margin: 1rem 0.5rem 1rem 0rem;
}

.confirm-content i{
    position: absolute;
    top: 35%;
    left: 56.8%;
    cursor: pointer;
}
.email-sec{
     position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
   
    background: rgba(0, 0, 0, 0.6);
}

.emailbox{
    height: 30vh;
    width: 30vw;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}
.emailbox h2{
   font-size:"28px";
    color: "#d92827";
}


.emailbox input{
    width: 70%;
    height: 1rem;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    outline: none;
    border: 1px solid #d92827;
}

.emailbox button{
    width: 75%;
    height: 1.7rem;
    background-color: #d92827;
    border: none;
    color: #fff;
    margin-left: 2rem;
    border-radius: 7px;
    margin-top: 1rem;
    cursor: pointer;
}