.contact-sec{
    height: 90vh;
    display: flex;
    padding: 8rem 1.5rem 1rem 0rem;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
}
.contact-parts {
    width: 40%;
}
.contact-parts h1{
    font-size: 40px;
    color: #02060ceb;
}
.contact-parts h3{
    color: #02060cbf;
    margin-top: 2.5rem;
    font-size: 21px;
}
.contact-parts h2{
    color: #02060ceb;
    margin-top: 5rem;
    font-size: 28px;
}
.contact-parts p{
    margin-top: 1.5rem;
     color: #02060cbf;
     font-size: 17px;
}
.contct-img{
    position: absolute;
    top: 82%;
    left: 0%;
    height: 23%;
    width: 13%;

}

.contct-img img{
    height: 100%;
    width: 100%;
}
.scanner-sec1{
    
    height: 60vh;
    background-color: #02060ceb;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.scanner-sec1 p{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.scanner-sec1 img{
    height: 100%;
}

.Messaging-center{
    padding: 2.5rem 1.5rem 1rem 2rem;
    border: 2.4px solid #fff;
    width: 30%;
 
}
.Messaging-center img{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 15%;
    right: 5%;
}
.contact-input{
    margin-top: 3.8rem;
}
.contact-input input{
    width: 85%;
    height: 1rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    border: none;
}
.contact-input textarea{
    width: 85%;
    height: 6rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    border: none;
}

.contact-input button{
    height: 2rem;
    width: 20%;
    background-color: #d92827;
    border: none;
    font-size: 12px;
    color: #fff;
    border-radius: 7px;
}


@media only screen and (max-width:480px) {
    .contact-sec{
    height: auto;
    padding: 8rem 0rem 1rem 1.5rem;
    width:auto;
    display: block;
   overflow-x: hidden;
}
.contact-parts {
    width: 100%;
}
.contact-parts h1{
    font-size: 35px;
}
.contact-parts h3{
    margin-top: 2rem;
    font-size: 18px;
}
.contact-parts h2{
    margin-top: 4rem;
    font-size:28px;
}
.contact-parts p{
    margin-top: 1.1rem;
     color: #02060cbf;
     font-size: 15px;
}
.contct-img{
    
    top: 122%;
    left: 74%;
    height: 15%;
    width: 26%;

}
.Messaging-center{
    padding: 2.5rem 1rem 2rem 1rem;
    width:85%;
    margin-top: 8rem;
 
}
.Messaging-center h2{
    font-size: 30px;
 
}
.Messaging-center img{
    height: 170px;
    width: 170px;
    top: 62%;
    left: 55%;
}
.contact-input{
    margin-top: 2rem;
}
.contact-input input{
    
    height: 1rem;
    font-size: 15px;
}
.contact-input textarea{
    height: 6rem;
    font-size: 17px;
}

.contact-input button{
    margin-top: 1.5rem;
    height: 2.8rem;
    width: 28%;
    font-size: 17px;
    font-weight: 750;
}

.scanner-sec1{
    height: 30vh;
    width: 100%;
    margin-bottom: 3rem;
}
.scanner-sec1 img{
    height: 80%;
    margin-top: 3.16rem;
    width: 60%;
}
.scanner-sec1 p{
    font-size: 12px;
    margin-left: 1rem;
}
}